@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
/* Fonts
font-family: 'Roboto Mono', monospace;
font-family: "Unbounded", cursive;
 */
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #050505, #333333);
  color: #f0f8ff;
  overflow-x: hidden !important;
  font-family: "Roboto Mono", monospace;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe7ba;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.me-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #001025,
    #001526,
    #001827,
    #001b27,
    #001e26,
    #021d25,
    #031d24,
    #051c23,
    #041720,
    #03121c,
    #020a18,
    #010112
  );
}
.my-img {
  background: url("./image/me.png") no-repeat center;
  background-size: contain;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.my-name1 {
  font-family: "Unbounded", cursive;
  font-size: 5vw;
  font-weight: 500;
  mix-blend-mode: difference;
  position: absolute;
  color: #ffffff;
  top: 40vh;
  left: 10vw;
}
.my-name2 {
  font-family: "Unbounded", cursive;
  font-size: 5vw;
  font-weight: 500;
  mix-blend-mode: difference;
  position: absolute;
  color: #ffffff;
  top: 40vh;
  right: 10vw;
}
.my-name3 {
  font-family: "Unbounded", cursive;
  font-size: 15vw;
  font-weight: 600;
  position: absolute;
  color: #ffffff;
  mix-blend-mode: difference;
  top: -22vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.my-name3-con {
  mix-blend-mode: difference;
}
.my-job-name {
  width: max-content;
  font-family: "Unbounded", cursive;
  font-size: 3vw;
  font-weight: 700;
  position: absolute;
  color: white;
  mix-blend-mode: soft-light;
  top: 60vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.4;
}
.my-proj {
  background-image: linear-gradient(
    to top,
    #070707,
    #090909,
    #0b0b0b,
    #0d0d0d,
    #0f0f0f,
    #0f0f10,
    #0e0e10,
    #0e0e11,
    #0b0b11,
    #080812,
    #040412,
    #010112
  );
  height: 300vh;
  color: #f0f8ff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-proj h1 {
  font-family: "Unbounded", cursive;
  padding: 2vw 0 1vw 0;
  font-size: clamp(1rem, 10vw, 2rem);
}
.my-proj .card {
  margin-top: 0;
  margin-bottom: 9vw;
  height: max-content;
  border-radius: 20px;
  max-width: 70vw;
  min-height: 35vw;
  background: #141414;
  justify-content: center;
}
.my-proj .title-card {
  font-size: clamp(1rem, 10vw, 2rem);
}
.my-proj .desc-card {
  font-size: clamp(0.5rem, 5vw, 1rem);
}
@media only screen and (max-width: 1450px) {
  .my-name1 {
    top: 41vh;
  }
  .my-name2 {
    top: 41vh;
  }
  .my-name3 {
    top: -17vh;
  }
  .my-job-name {
    top: 90vh;
    opacity: 1;
    mix-blend-mode: soft-light;
  }
}

@media only screen and (max-width: 1200px) {
  .my-name1 {
    top: 39vh;
  }
  .my-name2 {
    top: 39vh;
  }
  .my-name3 {
    top: -17vh;
  }
  .my-job-name {
    top: 90vh;
    opacity: 1;
    mix-blend-mode: soft-light;
  }
}
@media only screen and (max-width: 1020px) {
  .my-img {
    background-size: cover;
  }
}

@media only screen and (max-width: 650px) {
  .my-name1 {
    top: 26vh;
  }
  .my-name2 {
    top: 26vh;
  }
  .my-name3 {
    top: -27vh;
  }
  .my-job-name {
    top: 95vh;
    opacity: 1;
    mix-blend-mode: unset;
  }
}
